@model CheqStore.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layouts/Admin/AdminLayout.cshtml";

    bool IsGreater = (ViewBag.CategoryID.Count > 0 ) ? true : false;
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "ProductsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div id="preview"></div>

        <div class="file-field input-field">
            <div class="btn blue accent-3">
                <span>Subir Imagen</span>
                <input id="fileProductCreate" type="file" name="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            @Html.ValidationMessageFor(model => model.PathPhoto, "", new { @class = "text-danger" })


        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" name="Description" class="materialize-textarea" data-length="300"></textarea>
                <label for="textarea1">Descripción</label>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "red accent-3" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="input-field">
            <div class="row">
                @if (IsGreater)
                {
                    <div class="col s12 m8">
                        <select name="CategoryID">
                            <option value="0" disabled selected>Elige una categoria</option>
                            @foreach (var item in ViewBag.CategoryID)
                            {
                                <option value="@item.CategoryID">@item.Name</option>

                            }

                        </select>
                        <label>Seleccionar Categoria</label>
                    </div>

                    <div class="col s12 m4">
                        <a href="@Url.Action("Create","Categories")" class="btn-large blue lighten-2 btn-text-icon" id="AddCategoryModal"> Agregar nueva Categoria <i class="material-icons">add_circle</i></a>
                    </div>
                }
                else
                {
                    <div class="col s12 m4">
                        <a href="@Url.Action("Create","Categories")" class="btn-large blue lighten-2 btn-text-icon" id="AddCategoryModal"> Debe Agregar una nueva Categoria <i class="material-icons">add_circle</i></a>
                    </div>
                }

            </div>
         
        </div>


        @if (IsGreater)
        {
            <input type="submit" value="Create" class="btn" />
        }else
        {
          <a href="#!" class="btn yellow lighten-2" > No puede crear hasta que no tenga alguna categoria cargada</a>
        }


    </div>
}

@section Scripts{

    <script src="~/Assets/js/Product/ProductBase.js"></script>
}