
<ul class="right hide-on-med-and-down">
    <li><a href="@Url.Action("Index","Products")" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ir a todos nuestros productos"> <i class="material-icons">view_module</i></a> </li>
    <li><a href="@Url.Action("Login","Login")" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ingresar con tu cuenta"> Login </a> </li>
    <li><a href="@Url.Action("Index","Register")" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registra una cuenta nueva"> Register </a> </li>

</ul>

<ul class="side-nav" id="mobile-demo">
    <li><a href="@Url.Action("Index","Products")">Todos nuestros productos <i class="material-icons">view_module</i></a> </a></li>
    <li><a href="@Url.Action("Login","Login")"> Login <i class="material-icons">face</i></a></li>
    <li><a href="@Url.Action("Index","Register")"> Register <i class="material-icons">account_circle</i></a></li>
</ul>