@model CheqStore.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layouts/Admin/AdminLayout.cshtml";
}

@Html.Partial("~/Views/Shared/Partials/Bread/Detail.cshtml", "Categories")

<h2>Detalles</h2>

<div class="card ">

    <div class="card-content">
        <span class="card-title"> Informacion de la categoria</span>
        <br />
        <ul class="collection ">
            <li class="collection-item valign-wrapper">
                <i class="material-icons">face</i> <strong> Nombre de la categoria: </strong> <em> @Model.Name</em>
            </li>
         
            <li class="collection-item valign-wrapper">
                <i class="material-icons">bookmark</i>
                <strong> Borrado logico:  * </strong>
                <p>

                    @using (Html.BeginForm("ChangeStatusLogic", "Categories", new { id = Model.CategoryID }, FormMethod.Post, null))
                    {
                        if (Model.StatusLogic)
                        {
                            <button type="submit" class="waves-effect waves-light green darken-1 btn tooltipped center" id="@Model.CategoryID" data-position="top" data-delay="30" data-tooltip="Click para desactivar"><i class="material-icons">check_circle</i></button>
                        }
                        else
                        {
                            <button type="submit" class="waves-effect waves-light red darken-1 btn tooltipped center" id="@Model.CategoryID" data-position="top" data-delay="30" data-tooltip="Click para Activar"><i class="material-icons">remove_circle</i></button>
                        }
                    }
                </p>

            </li>

        </ul>
    </div>
    <div class="card-action right-align">
        <a href="@Url.Action("Edit","Categories",new { id = Model.CategoryID})" class="waves-effect waves-light blue darken-1 btn tooltipped center" data-position="top" data-delay="30" data-tooltip="Editar categoria"><i class="material-icons">edit</i>Editar</a>

        @using (Html.BeginForm("Delete", "Categories", new { id = Model.CategoryID }, FormMethod.Post, null))
        {

            <button class="waves-effect waves-light red darken-1 btn tooltipped center" data-position="top" data-delay="30" data-tooltip="Eliminar categoria"><i class="material-icons">delete_forever</i> Borrar categoria definitivamente </button>

        }

    </div>
</div>
