@model CheqStore.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layouts/Admin/AdminLayout.cshtml";
}

@Html.Partial("~/Views/Shared/Partials/Bread/Detail.cshtml", "Users")

<div>    
    <div class="row">
        <div class="col s12 offset-m3 m7">
            <div class="card">
                <div class="card-image">
                    <img src="~/Assets/img/UserImage.jpg" style="max-height: 600px; object-fit: contain"class="img-responsive"/>
                    <span class="card-title black-text">@Model.Name</span>
                </div>
                <div class="card-content">

                    <ul class="collection with-header">
                        <li class="collection-header"><h4>Informacion del usuaro</h4></li>
                        <li class="collection-item">
                            <strong> Username: </strong><span>@Model.Username</span>
                        </li>
                        <li class="collection-item">
                            <strong> Email: </strong><span>@Model.Email</span>
                        </li>
                        <li class="collection-item">
                            <strong> Rol: </strong><span>@Model.Rol</span>
                        </li>
                         @if (Model.Rol.ToString() == "Cliente")
                         {
                             bool IsNull = (ViewBag.Orders == null) ? true : false;

                             var Orders = ViewBag.Orders;
                             
                             <li class="collection-item">

                                <strong> Ordenes solicitadas: </strong>
                                    @if (IsNull || Orders.Count == 0)
                                    {
                                        <span>
                                            Ninguna orden por el momento
                                        </span>

                                    }
                                    else
                                    {
                                        foreach (var item in Orders)
                                        {
                                            <ul class="collection">
                                                    <li class="collection-item "><strong>Numero de orden:  </strong><span>@item.ID</span></li>
                                                    @if (!@item.Status)
                                                    {

                                                        <li class="collection-item active"><strong>Estado:  </strong><span> PAGADO </span></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="collection-item red lighten-2 "><strong>Estado:  </strong><span> PENDIENTE </span></li>

                                                    }
                                                    <li class="collection-item center" >
                                                        <a href="@Url.Action("Details","Orders",new { id= @item.ID})"class="btn-large blue lighten-2 "> Detalle de la orden @item.ID</a>
                                                    </li>
                                            </ul>
                                        }
                                    }
                            </li>

                         }

                    </ul>

                </div>
                <div class="card-action right-align">
                    <a href="@Url.Action("Edit","Categories",new { id=Model.UserID})" class="btn-large waves-effect waves-light tooltipped blue lighten-3" data-position="top" data-delay="20" data-tooltip="Editar producto"><i class="material-icons">edit</i></a>

                </div>
            </div>
        </div>
    </div>
       
</div>
