@model CheqStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layouts/General/_Layout1.cshtml";
    string image = (string.IsNullOrEmpty(Model.PathPhoto)) ? "http://www.bitaccora.com/images/portal/web/imagenblanco.jpg" : "/Uploads/" + @Model.PathPhoto;
    
}

<h2>Detalle de los productos</h2>



        <div class="card ">
            <div class="card-image product-card__image--detail">
                <img class="materialboxed" src=@image data-caption=@Model.Name>
            </div>
            <div class="card-content">
                <span class="card-title">@Model.Name</span>

                <ul class="collection">
                    <li class="collection-item valign-wrapper">
                        <p>
                            @Model.Description
                        </p>

                    </li>
                    <li class="collection-item valign-wrapper"><i class="material-icons">monetization_on</i> <strong> Precio :  </strong> $ @Model.Price</li>
                    <li class="collection-item valign-wrapper"><i class="material-icons">bookmark</i> <strong> Categoria : </strong>@Model.Category.Name   </li>
                </ul>
            </div>
            <div class="card-action right-align">
                <a href="#!" class="btn-large waves-effect waves-light" >
                    Agregar a carrito
                    <i class="material-icons right">add_shopping_cart</i>
                </a>
            </div>
        </div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
