@model IEnumerable<CheqStore.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/General/_Layout1.cshtml";
}


<h2>Nuestros Productos</h2>


<div class="row">
    @if (ViewBag.Message != null)
    {
        <div class="col s12 blue-grey lighten-1 center-align">
            <p>
                @ViewBag.Message
            </p>
        </div>
    }

    <section class="menu-categories col s12 m3">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Categorias</h4></li>
            
            @if (ViewBag.Categories != null)
            {
                <li class="collection-item" style="display:flex"> <a href="@Url.Action("Index","Products")" class="secondary-content" style="display:flex">Listar todos <i class="material-icons">all_inclusive</i></a></li>
                foreach (var item in ViewBag.Categories)
                {
                    @*<li class="collection-item"> @Html.ActionLink(@item.Name,"Detail","Categories",new { id = @item.CategoryID })</li>*@
                    <li class="collection-item" style="display:flex"> <a href="@Url.Action("Index","Products",new { @category = item.Name})" class="secondary-content" style="display:flex" >@item.Name<i class="material-icons">forward</i></a></li>
                }
            }

        </ul>
    </section>

    <section class="cards-products col s12 m9 ">
        <div class="row">
            @foreach (var item in Model)
            {

                string image = (string.IsNullOrEmpty(item.PathPhoto)) ? "http://www.bitaccora.com/images/portal/web/imagenblanco.jpg" : "/Uploads/" + item.PathPhoto;
                string Categoria = (item.CategoryID != null) ? item.Category.Name : "Sin Categoria";

                //# form sin AJAX.
                using (Html.BeginForm("AddProduct", "OrderView",FormMethod.Post,new { @class = "col s12 m4" }))
                {
                    <div class="card hoverable">
                        <input class="hide" value=@item.ProductID name="ProductID" />
                        <div class="card-image product-card__image--list">
                            <img src=@image>
                            <button  type="submit" class="btn-floating pulse halfway-fab waves-effect waves-light  teal darken-2 tooltipped AddToCart" data-position="bottom" data-delay="50" data-tooltip="Agregar al carrito"><i class="material-icons">add_shopping_cart</i></button>
                        </div>

                        <div class="card-content">
                            <span class="card-title truncate" name="ProductName">@item.Name</span>

                            <ul class="collection product-card__collection">
                                <li class="collection-item valign-wrapper"><i class="material-icons">monetization_on</i> <strong> Precio:   </strong>  $@item.Price</li>
                                <li class="collection-item valign-wrapper"><i class="material-icons">bookmark</i> <strong> Categoria:  </strong> @Categoria   </li>
                                @if (@item.Stock != 0)
                                {
                                    <li class="collection-item valign-wrapper  teal darken-1 white-text"><i class="material-icons">done</i> <strong> Stock:  </strong>  @item.Stock</li>
                                }
                                else
                                {
                                    <li class="collection-item valign-wrapper red accent-2"><i class="material-icons">not_interested</i> <strong>NO DISPONIBLE</strong></li>

                                }
                            </ul>
                            

                        </div>

                        <div class="card-action right-align">

                            @Html.ActionLink("Ver más", "Details", new { id = item.ProductID }, new { @class = "btn blue dark-3" })
                        </div>
                    </div>
                }

                @*<div class="col s12 m4">
                    <div class="card hoverable">
                        <input class="hide" value=@item.ProductID name="ProductID" />
                        <div class="card-image product-card__image--list">
                            <img src=@image>
                            <button id="#AddToCart" class="btn-floating pulse halfway-fab waves-effect waves-light  teal darken-2 tooltipped AddToCart" data-position="bottom" data-delay="50" data-tooltip="Agregar al carrito"><i class="material-icons">add_shopping_cart</i></button>
                        </div>

                        <div class="card-content">
                            <span class="card-title truncate" name="ProductName">@item.Name</span>

                            <strong class="collection-item valign-wrapper">
                                <i class="material-icons ">monetization_on</i> Precio : <span name="Price">@item.Price</span>
                            </strong>

                        </div>

                        <div class="card-action right-align">

                            @Html.ActionLink("Ver más", "Details", new { id = item.ProductID }, new { @class = "btn blue dark-3" })
                        </div>
                    </div>
                </div>*@
            }
        </div>

    </section>

</div>
@section Scripts{
<script src="~/Assets/js/OrderView/OrderViewAjax.js"></script>
}