<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chequer Store - </title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Assets/css/material-icons.css" rel="stylesheet" />
    <link href="~/Assets/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Assets/css/base.css" rel="stylesheet" />
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/general.css" rel="stylesheet" />
</head>
<body>



    <nav class="blue-grey lighten-1">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo ">CheqStore</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            
            @Html.Partial("~/Views/Shared/Layouts/General/Partials/Nav/Nav.cshtml")

        </div>
    </nav>


    <main class="container">
        @RenderBody()

    </main>

     <footer class="page-footer  blue-grey lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="">CheqStore</h5>
                    <p class="">Los mejores productos.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="">Links Interesantes</h5>
                    <ul>
                        <li><a class="white-text" href="/">Home</a></li>
                        <li><a class="white-text" href="@Url.Action("Index","Products")">Listado de productos</a></li>
                        <li><a class="white-text" href="http://www.facebook.com" target="_blank">Facebook Cheqstore</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright  blue-grey lighten-2">
            <div class="container ">
                © 2018 CheqStore
                <a class=" right" href="#!">- </a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
    <script src="~/Assets/js/master.js"></script>
    <script src="~/Assets/js/templates/general.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
